<% #pins.transition-enabled %>
<% @pins.each_slice(4) do |row| %>
  <div class="row">
    <% row.each do |pin| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <h3><%= link_to (image_tag pin.image.url), pin %></h3>
        </div>
        <div class="name">
          <p>Posted by: <%= pin.user.email %></p>
          <h3><%= link_to pin.title, pin %></h3>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
